<div class="navBar">
  <div id="logo"></div>
  <div id="heading">SimpleChat</div>
  <div class="links" *ngIf="userData && isVerified">
    <span>
      <span id="userData">
        <span *ngIf="user">{{ textHi }}</span> {{ userData.userName }}
      </span>
    </span>
    <span>
      <a routerLink="/chat">Chat</a>
    </span>
    <span>
      <a *ngIf="(user | async)?.uid" href="#" (click)="signOut()">Sign Out</a>
    </span>
  </div>

  <div class="links" *ngIf="!isVerified">
    <span>
      <a routerLink="/signin">Sign In</a>
    </span>

    <span>
      <a routerLink="/signup">Sign Up</a>
    </span>
  </div>
</div>
