<div class="container">
  <div class="signUpCard">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <h2 class="heading">Sign Up</h2>
      <!-- ------------------------------------------------------- -->
      <label class="label">Display Name</label>
      <input
        formControlName="userName"
        placeholder="Enter a display name"
        class="form-control formInput"
        maxlength="15"
        type="text"
        [ngClass]="{ 'is-invalid': submitted && f.userName.errors }"
        required
      />
      <div *ngIf="submitted && f.userName.errors" class="invalid-email">
        <div *ngIf="f.userName.errors.required">User Name is required</div>
      </div>
      <!-- ------------------------------------------------------- -->
      <label class="label">Email</label>
      <input
        type="text"
        formControlName="email"
        class="form-control formInput"
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
        placeholder="Enter your email address"
        required
      />
      <div *ngIf="submitted && f.email.errors" class="invalid-email">
        <div *ngIf="f.email.errors.required">Email is required</div>
        <div *ngIf="f.email.errors.email">
          Email must be a valid email address
        </div>
      </div>
      <!-- ------------------------------------------------------- -->
      <label class="label">Password</label>
      <input
        placeholder="Please use minimum 6 characters or more"
        type="password"
        formControlName="password"
        class="form-control formInput"
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
        required
      />

      <label class="label">Confirm Password</label>
      <input
        type="password"
        formControlName="confirmPassword"
        class="form-control formInput"
        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
      />
      <div *ngIf="submitted && f.password.errors" class="invalid-email">
        <div *ngIf="f.password.errors.required">Password is required</div>
        <div *ngIf="f.password.errors.minlength">
          Password must be at least 6 characters
        </div>
      </div>
      <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-email">
        <div *ngIf="f.confirmPassword.errors.required">
          Confirm Password is required
        </div>
        <div *ngIf="f.confirmPassword.errors.mustMatch">
          Passwords must match
        </div>
      </div>
      <!-- ------------------------------------------------------- -->
      <div class="row">
        <div class="text-center btns">
          <button [disabled]="!signUpForm.valid" class="btn btn-signUp">
            Sign Up
          </button>
          <button class="btn btn-cancel" type="reset" (click)="onReset()">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
